@model CallLogSystem.Models.CallLog
@{
    ViewData["Title"] = "Create";
}

<h1>Problem Form</h1>

<div class="container">
    <div class="row">
        <form method="post" asp-action="Create" asp-controller="CallLog">
            <div class="col-md-12">

                <div class="form-group">
                <label asp-for="Problem"></label>
                <input type="text" asp-for="Problem" class="form-control" placeholder="Issue Detail" />
                <span asp-validation-for="Problem" class="text-danger"></span>
                </div>

                <label asp-for="Description"></label>
                <textarea asp-for="Description" cols="40" rows="5" class="form-control" placeholder="Enter Problem Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>

                <label asp-for="Location"></label>
                <input type="text" asp-for="Location" class="form-control" placeholder="Enter Location" />
                <span asp-validation-for="Location" class="text-danger"></span>

                <label asp-for="IssueDate"></label>
                <input type="datetime" asp-for="IssueDate" class="form-control" placeholder="Enter Issue Date" />
                <span asp-validation-for="IssueDate" class="text-danger"></span>

                <label asp-for="ReportedBy"></label>
                <input type="text" asp-for="ReportedBy" class="form-control" placeholder="Enter Reported By Name" />
                <span asp-validation-for="ReportedBy" class="text-danger"></span>

                <label asp-for="ActionTaken"></label>
                <textarea asp-for="ActionTaken" cols="20" rows="5" class="form-control" placeholder="Action Taken"></textarea>
                <span asp-validation-for="ActionTaken" class="text-danger"></span>

                <label asp-for="Remarks"></label>
                <input type="text" asp-for="Remarks" class="form-control" placeholder="Remarks" />
                <span asp-validation-for="Remarks" class="text-danger"></span>

               @* <label asp-for="IsActive"></label>
                <input type="checkbox" asp-for="IsActive" value=""  />*@

               @* <label asp-for="IssueResolved"></label>
                <input type="checkbox" asp-for="IssueResolved" value=""  />*@
                <br />

                <input type="submit" asp-action="Create" asp-controller="CallLog" class="btn btn-success"/>

            </div>
        </form>
    </div>
</div>


